.box-info {
    background: #1C1C1C;
    color: #fff;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: absolute;
    text-align: center;
    top: 0;
    width: 360px;
    z-index: 10;
    
    &__text {
        color: #e8e8e8;
        li {
            align-items: center;
            cursor: pointer;
            padding: 20px;
            text-align: left;
            transition: all .3s ease-in-out;
        }
        li:hover {
            color: #008B8B;
        }
        
        li::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #008B8B;
            transition: width .5s;
            margin-top: 5px;
            margin-left: 15%;
        }

        li:hover::after {
            width: 85%;
        }
        
        &-ico {
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

#App {
  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  outline-color: transparent;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
    right: 15px!important;
    @media only screen and (min-width: 768px) {
        display: none;
    } 
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  @media only screen and (min-width: 768px) {
      display: none;
  }
}