@charset 'UTF-8';

@import './components/googleMaps/googleMaps';
@import './components/infoLocal/infoLocal';
@import './components/searchResult/searchResult';

body {
    overflow: hidden;
}

ul { 
    list-style: none; 
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: middle;
    white-space: normal;
    line-height: 1;
}